<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.games.dsgames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="in.games.dsgames.AppController"
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name="in.games.dsgames.Activity.TestingActivity"></activity>
        <activity android:name="in.games.dsgames.Activity.RequestPointActivity" />
        <activity android:name="in.games.dsgames.Activity.HowToPlayActivity" />
        <activity android:name="in.games.dsgames.Activity.NoticeBoardActivity" />
        <activity android:name="in.games.dsgames.Activity.CheckResultActivity" />
        <activity android:name="in.games.dsgames.Activity.MpinLoginActivity" />
        <activity android:name="in.games.dsgames.Activity.MonthlyReportActivity" />
        <activity android:name="in.games.dsgames.Activity.WalletHistoryActivity" />
        <activity android:name="in.games.dsgames.Activity.ForgetPasswordActivity" />
        <activity android:name="in.games.dsgames.Activity.StarlineActivity" />
        <activity android:name="in.games.dsgames.Activity.PaymentReportsActivity" />
        <activity android:name="in.games.dsgames.Activity.BidHistoryActivity" />
        <activity android:name="in.games.dsgames.Activity.BankDetailActivity" />
        <activity android:name="in.games.dsgames.Activity.WithDrawActivity" />
        <activity android:name="in.games.dsgames.Activity.ContactUsActivity" />
        <activity android:name="in.games.dsgames.Activity.PlayBidActivity" />
        <activity android:name="in.games.dsgames.Activity.SeelctGameActivity" />
        <activity android:name="in.games.dsgames.Activity.RegistrationActivity" />
        <activity android:name="in.games.dsgames.Activity.LoginActivity" />
        <activity android:name="in.games.dsgames.Activity.MainActivity" />
        <activity android:name="in.games.dsgames.Activity.GetOtp" />
        <activity android:name="in.games.dsgames.Activity.Send_Otp" />
        <activity android:name="in.games.dsgames.Activity.GameRatesActivity" />
        <activity android:name="in.games.dsgames.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <receiver -->
        <!-- android:name=".networkconnectivity.ConnectivityReceiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FF00FF00" />

        <service
            android:name="in.games.dsgames.utils.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>